<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel" version="12.1.3.16.21" id="SpringboardPageDef"
                Package="Springboard">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
    <iterator Binds="root" RangeSize="25" DataControl="ApplicationFeatures" id="ApplicationFeaturesIterator"/>
    <iterator Binds="root" RangeSize="25" DataControl="HRService" id="HRServiceIterator"/>
    <accessorIterator MasterBinding="ApplicationFeaturesIterator" Binds="features" RangeSize="25"
                      DataControl="ApplicationFeatures" BeanClass="oracle.adfmf.framework.FeatureInformation"
                      id="featuresIterator"/>
  </executables>
  <bindings>
    <methodAction id="gotoFeature" RequiresUpdateModel="true" Action="invokeMethod" MethodName="gotoFeature"
                  IsViewObjectMethod="false" DataControl="ApplicationFeatures"
                  InstanceName="data.ApplicationFeatures.dataProvider">
      <NamedData NDName="featureId" NDValue="#{viewScope.featureId}" NDType="java.lang.String"/>
    </methodAction>
    <attributeValues IterBinding="HRServiceIterator" id="employeeCount">
      <AttrNames>
        <Item Value="employeeCount"/>
      </AttrNames>
    </attributeValues>
    <attributeValues IterBinding="HRServiceIterator" id="departmentCount">
      <AttrNames>
        <Item Value="departmentCount"/>
      </AttrNames>
    </attributeValues>
    <tree IterBinding="featuresIterator" id="features">
      <nodeDefinition DefName="oracle.adfmf.framework.FeatureInformation" Name="features0">
        <AttrNames>
          <Item Value="image"/>
          <Item Value="name"/>
          <Item Value="id"/>
          <Item Value="credentialType"/>
        </AttrNames>
      </nodeDefinition>
    </tree>
  </bindings>
</pageDefinition>
